/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

form#publish_product {
  input {
    min-height: 40px;
    border: 1px solid rgb(238, 238, 238);
    margin: 10px 0;
  }
}
