footer {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0 50px;
  min-height: 265px;
  display: flex;
  align-items: center;

  .gform_widget {
    h3 {
      color: rgba(255, 255, 255, 0.52);
      font-size: 14px;
      font-weight: 400;
    }

    .gform_wrapper {
      h3.gform_title,
      span.gform_description {
        display: none;
      }

      label.gfield_label {
        display: none !important;
      }

      form {
        display: flex;
        align-items: center;

        input {
          background-color: rgb(61, 69, 82);
          border-color: rgba(30, 109, 251, 0.52);
          border-width: 0;
          border-radius: 50px 50px 50px 50px;
          padding: 20px !important;
          height: 45px !important;
        }

        .gform_heading {
          display: none;
        }

        .gform_footer {
          padding: 0;
          width: auto;
          white-space: nowrap;

          button {
            height: 45px !important;
            line-height: 41px !important;
            padding: 0 20px !important;
            border: 2px solid !important;
            border-radius: 50px !important;
            font-size: 14px;
          }
        }
      }
    }
  }

  .navbar-footer {
    .navbar {
      align-items: self-end;

      .menu-item {
        .nav-link {
          color: $brand-white;
          font-size: 14px;
          font-weight: 500;

          &[data-toggle="dropdown"] {
            color: $brand-white;
            font-size: 14px;
            font-weight: 500;
          }

          span {
            display: none;
          }
        }

        ul.dropdown-menu {
          display: flex !important;
          padding: 0;
          left: 0 !important;
          background: transparent;
          border: none;
          position: relative;
          flex-flow: column;

          .menu-item {
            .nav-link {
              color: rgb(163, 166, 171);
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &.content-info {
      display: none;
    }
  }
}

section.copyright {
  color: rgba(255, 255, 255, 0.26);
  padding: 15px;
  background-color: rgb(61, 69, 82);
  font-size: 14px;

  @include media-breakpoint-down(sm) {
    padding: 20px 0;

    .col-md-6 {
      margin: 10px auto;
    }
  }

  .social-icons-ql {
    li {
      a {
        background-color: rgb(101, 109, 122);
        width: 35px;
        display: flex;
        height: 35px;
        justify-content: center;
        align-items: center;
        border-radius: 7px;

        i {
          font-size: 15px !important;
        }
      }
    }
  }
}

div#LoginUser {
  .register,
  .lost_reset_password,
  form#loginform {
    p {
      input[type="text"],
      input[type="password"],
      input[type="email"] {
        display: inline-block;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 16px;
        font-weight: 100;
        padding: 0 10px;
      }

      &.login-remember {
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        padding-left: 3px;
        color: rgb(119, 119, 119);

        input {
          border-radius: 0;
          height: 20px;
          width: 20px;
          margin: 0 5px 0;
          border: 2px solid rgb(221, 221, 221);
          background: $brand-white;
          position: relative;
          vertical-align: middle;
        }
      }

      &.login-submit {
        margin: 0;

        input#wp-submit {
          padding: 6px 20px;
          border-radius: 20px;
          background: none;
          border: 2px solid rgb(37, 49, 107);
          color: rgb(39, 45, 57);
          font-weight: bold;
          transition: all 0.5s;
          width: 100%;
        }
      }
    }

    .woocommerce-Button {
      padding: 6px 20px;
      border-radius: 20px;
      background: none;
      border: 2px solid rgb(37, 49, 107);
      color: rgb(39, 45, 57);
      font-weight: bold;
      transition: all 0.5s;
      width: 100%;
    }
  }

  .modal-footer {
    background-color: rgb(40, 46, 57);

    a {
      color: rgb(43, 183, 227);
      font-size: 14px;
      border: none !important;

      &:hover,
      &.active,
      &:focus {
        background: transparent !important;
        border: none;
        color: $brand-white !important;
        box-shadow: none;
        outline: none;
      }
    }

    .nav {
      width: 100%;
      display: flex;
      justify-content: center;
      border: none;

      li.nav-item {
        position: relative;
        padding: 0 20px;

        &::after {
          content: "";
          background: #fff;
          float: right;
          width: 1px;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .modal-content {
    border-radius: 10px;
  }
}
