.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

header.banner {
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.06);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

  .nav-link {
    font-size: 13px;

    &:focus {
      outline: none;
    }
  }

  .navbar-nav {
    .dropdown-menu {
      top: 30px;

      li {
        width: 100%;

        .nav-link {
          color: rgba(0, 0, 0, 0.5) !important;

          &:hover {
            color: rgba(0, 0, 0, 0.7) !important;
          }
        }
      }

      @include media-breakpoint-down(sm) {
        border: none;
        background: transparent;
      }
    }

    li.dropdown {
      &:hover {
        & > {
          .dropdown-menu {
            display: block;
          }
        }
      }
    }
  }

  .cart-contents {
    width: 23px;
    height: 23px;
    display: inline-block;
    position: relative;
    background-image: url("../images/cart.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 70px;

    span {
      background: $brand-primary;
      position: absolute;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.1px;
      color: $brand-white;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      text-align: center;
      right: -4px;
    }
  }

  .login {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 30px;
    display: inline-block;
  }

  .signup {
    margin: 0 10px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.1px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 5px;
  }

  @include media-breakpoint-down(sm) {
    .half {
      order: 1;
    }

    .navbar-toggler {
      order: 2;
    }

    .navbar-collapse {
      order: 3;
    }
  }

  .logos {
    max-width: 130px;
  }
}

form#searchform {
  display: flex;
  background-color: rgb(59, 69, 83);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  button {
    width: 60px;
  }

  input,
  button {
    background: transparent;
    border: none;
    color: rgb(151, 151, 151);
    height: 35px;

    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
}

.product-term {
  .text-term {
    color: rgba(255, 255, 255, 0.42);
    font-size: 15px;
    text-transform: capitalize;
    padding: 5px 20px;

    &.active {
      color: $brand-white !important;
      border: 1px solid rgb(29, 108, 253);
      border-radius: 3px;
    }

    &:hover {
      color: $brand-white;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.21);
    }
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
    padding: 10px;

    .text-term {
      padding: 5px;
    }
  }
}

.elementor-background-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
  opacity: 0.12;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

section.banner-items {
  position: relative;
  padding: 70px 0 60px;
}

.item-card {
  margin-bottom: 50px;

  .card {
    background: $brand-white !important;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.063) !important;
    border-radius: 7px;

    .bg-white {
      overflow: hidden;
      position: relative;
      min-height: 248px;
      background-size: cover;
    }

    h5.card-title {
      font-size: 16px;
      color: rgb(61, 69, 82);
      font-weight: 500;
      margin-bottom: 14px;
    }

    .card-body {
      overflow: hidden;
      position: relative;
      padding: 10px !important;
      margin: 0 -10px -10px;
      border-radius: 3px;
    }
  }

  .card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    transition: all 0.5s;
    opacity: 0;
    flex-flow: column;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    .card-link {
      p {
        padding: 11px 32px;
        margin: 10px auto;
        display: inline-block;
        background: $brand-primary;
        border-radius: 20px;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        text-transform: capitalize;
        color: $brand-white;
      }
    }

    .post-edit-link {
      padding: 11px 32px;
      margin: 10px auto;
      display: inline-block;
      background: $brand-primary;
      border-radius: 20px;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      text-transform: capitalize;
      color: $brand-white;
      position: relative;
      z-index: 3;
    }

    .the_permalink {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 2;
    }
  }

  &:hover {
    .card-overlay {
      top: 0;
      transition: all 0.5s;
      opacity: 1;
    }
  }
}

.autocomplete-blog {
  background-color: $brand-white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.product-child {
  padding: 0;
  border-radius: 5px;
  background-color: rgb(61, 69, 82);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  overflow: hidden;

  h2 {
    font-weight: 300;
    border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    padding: 20px;
    background: #282f39;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 19px;
  }

  ul {
    margin: 10px;

    .list-group-item {
      border: none;
      background-color: transparent;
      border-radius: 3px;
      margin-bottom: 5px !important;
      padding: 0 !important;

      .text-term {
        background: transparent;
        padding: 10px 30px !important;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        font-size: 14px;
        display: flex;
        justify-content: space-between;

        &.active {
          color: $brand-white !important;
        }
      }
    }
  }

  &.sticky {
    position: fixed;
    top: 97px;
    width: 23%;
    max-width: 23%;
  }
}

.fixed-header {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;

  .admin-bar & {
    top: 32px;
  }
}

.bg-images {
  background-size: cover;
  background-position: top;

  img {
    display: none;
  }
}

.product-list,
.product-grid {
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 3px;
  display: none;
}

.product-grid {
  background-image: url("../images/grid.png");
}

.product-list {
  background-image: url("../images/list.png");
}

.fixed-top-header {
  .dropdown {
    display: inline-block;
    background-color: rgb(57, 69, 84);
    padding: 5px 15px 5px 10px;
    border-radius: 5px;
    font-size: 14px;

    i {
      font-size: 30px;
      line-height: 10px;
      position: relative;
      top: 6px;
    }
  }
}

.custom-header {
  position: relative;
  padding: 70px 0 60px;
  background-image: linear-gradient(150deg, #56ecf2 0%, #4242e3 100%);

  h1 {
    text-align: center;
    font-weight: 300;
    color: $brand-white;
  }
}

.show {
  .link-dropdown {
    display: block !important;
  }
}

.half {
  margin-left: 30px;
}

.profile-dropdown {
  display: inline-block;
  position: relative;
  margin: 0 0 5px 0;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.132987px;
  color: $brand-white;
  top: 2px;

  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .fa-lg {
    font-size: 24px;
    margin: 0 10px;
  }

  .fa-chevron-down {
    font-size: 13px;
    margin: 0 5px;
  }

  input[type="checkbox"] {
    display: none;

    &:checked {
      & ~ ul {
        display: block;
        animation: pulse 0.5s;
      }

      & ~ label {
        i {
          color: #f2f2f2;
        }

        &::after {
          content: "";
          position: absolute;
          top: 100%;
          right: calc(50% - 10px);
          display: block;
          border-style: solid;
          border-width: 7px 10px 0 10px;
          width: 0;
          height: 0;
        }
      }
    }
  }

  .link-dropdown {
    display: none;
    list-style: none;
    padding: 0;
    background: rgb(61, 69, 82);
    position: absolute;
    top: 40px;
    right: -10px;
    width: 180px;
    border-radius: 8px;
    z-index: 99;
    min-width: 180px;
    box-shadow: 0 14px 36px 0 rgba(61, 69, 82, 0.47);

    .item-dropdown {
      a,
      .item-user {
        display: block;
        padding: 10px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.88);
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.03);
        text-align: center;

        &:hover {
          background-color: rgb(40, 47, 57);
        }
      }

      &:first-child a:hover {
        border-radius: 3px 3px 0 0;
      }

      &:last-child a:hover {
        border-radius: 0 0 3px 3px;
      }
    }
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.premast-social-icons {
  margin: 0;
  padding: 8px 22px;
  background-color: rgb(40, 47, 57);
  border-radius: 0 0 8px 8px;
  text-align: center;
  display: flex;
  justify-content: space-between;

  .premast-icon {
    color: $brand-white;
    font-size: 22px;
    margin: 0;

    &.icon-facebook {
      &:hover {
        color: rgb(59, 89, 152);
      }
    }

    &.icon-twitter {
      &:hover {
        color: rgb(29, 161, 242);
      }
    }

    &.icon-behance {
      &:hover {
        color: rgb(23, 105, 255);
      }
    }

    &.icon-instagram {
      &:hover {
        color: rgb(228, 64, 95);
      }
    }
  }
}
