.single-product {
  .content-single {
    background-color: white;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 35px 20px;

    .woocommerce-product-gallery {
      width: 100% !important;
    }

    #review_form {
      #respond {
        .form-submit {
          input {
            left: auto;
            background-color: rgb(30, 109, 251);
            border-color: rgb(30, 109, 251);
            float: right;
          }
        }
      }
    }
  }

  .product-title {
    font-size: 26px;
    line-height: 32px;
    font-weight: 400;
  }

  .breadcrumb {
    background: transparent;
    margin: 0;
    padding: 0;
    color: #1e69f3;

    .woocommerce-breadcrumb {
      color: #1e6af4;

      a {
        color: #1e6af4;
      }
    }
  }

  .product-term {
    padding: 15px;
    text-align: center;
  }
}

.download-product {
  border-top: solid 7px rgb(25, 122, 247) !important;
  background-color: $brand-white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: 0;
  padding: 30px;

  h1,
  .product_meta {
    display: none;
  }

  p.price {
    font-size: 30px !important;
    color: rgb(25, 122, 247) !important;
  }

  button#somdn-form-submit-button {
    background-color: rgb(30, 109, 251);
    width: 100% !important;
    color: $brand-white;
    text-align: center;
    padding: 15px;
    display: block;
    border-radius: 6px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 17px;
  }

  .somdn-download-count-wrap {
    p {
      display: none !important;
    }
  }
}

.box-counter {
  margin: 30px auto 0;
  background: $brand-white;
  display: inline-block;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: 20px;
  padding: 30px 30px 10px;

  ul.list-unstyled {
    .list-item {
      strong {
        width: 25%;
        display: inline-block;
      }
    }
  }
}

.downloader {
  border-bottom: 1px solid rgb(51, 51, 51);
  padding-bottom: 10px;
  margin-bottom: 10px;

  span.counter-download {
    color: rgb(29, 109, 251);
    float: right;
  }

  .star-rating {
    float: left !important;
    margin: 3px;
  }
}

.sharing-posts {
  height: 60px;
  display: inline-block;
  width: 100%;
  border-radius: 2px;
}

.counters {
  width: 55px;
  color: $brand-gray;
  font-size: 28px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;

  small {
    font-size: 10px;
    font-weight: 100;
    font-style: normal;
    display: block;
    text-transform: uppercase;
    margin-top: 5px;
  }
}

.social-sharer {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  justify-content: center;

  li {
    font-size: 22px;
    margin-right: 8px !important;

    .counter,
    .item-share {
      color: $brand-white;
      height: 36px;
      width: 36px;
      border-radius: 2px;
      background-color: rgb(113, 114, 118);
      display: inline-block;
      text-align: center;
      padding-top: 2px;

      &.linkedin {
        background-color: rgb(0, 123, 182);
      }

      &.facebook {
        background-color: rgb(71, 89, 147);
      }

      &.twitter {
        background-color: rgb(101, 187, 242);
      }
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  width: 100%;
  margin: 30px auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
