.woocommerce,
.woocommerce-page {
  .col2-set {
    .col-1,
    .col-2 {
      flex: 0 0 48% !important;
      max-width: 48%;
    }
  }

  form {
    .form-row {
      span.woocommerce-input-wrapper {
        display: block;
        width: 100%;
        min-height: 40px;
      }

      input.input-text,
      textarea {
        min-height: 40px;
        padding: 10px;
      }
    }
  }

  .quantity {
    .qty {
      height: 35px;
    }
  }

  div.product {
    form.cart {
      .button {
        min-width: 255px;
        height: 40px;
        display: block;
        float: none !important;
        background: linear-gradient(170.96deg, rgb(26, 219, 114) -0.5%, rgb(16, 177, 81) 100%);
        box-shadow: 0 5px 8px rgba(0, 255, 102, 0.59);
        border-radius: 20px;
        margin: 15px auto 0;
        width: 100%;
      }
    }
  }

  .star-rating {
    span {
      color: rgb(255, 195, 0);
    }
  }

  span.onsale {
    border-radius: 0 !important;
    padding: 10px !important;
    left: 15px !important;
    top: 0 !important;
    background-color: rgb(23, 122, 247) !important;
  }

  .woocommerce-breadcrumb {
    margin: 0 !important;
  }
}

.woocommerce-account {
  .woocommerce-MyAccount-navigation {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 4px #ccc;
  }

  .woocommerce {
    width: 100%;
    padding: 50px 0;
  }

  .woocommerce-MyAccount-content {
    float: left;
    margin-left: 5%;
    width: 75%;
  }

  .woocommerce-MyAccount-navigation ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding: 0 10px;

      a {
        padding: 10px 5px;
        display: block;

        &::before {
          margin-right: 20px;
          opacity: 0.25;
        }

        &:hover::before {
          opacity: 1;
        }
      }

      &.is-active {
        background-color: #000;

        a {
          color: $brand-white;

          &::before {
            opacity: 1;
          }
        }
      }

      &.woocommerce-MyAccount-navigation-link--dashboard a::before {
        font-family: $font-aswsome;
        content: "\f0e4";
      }

      &.woocommerce-MyAccount-navigation-link--orders a::before {
        font-family: $font-aswsome;
        content: "\f291";
      }

      &.woocommerce-MyAccount-navigation-link--downloads a::before {
        font-family: $font-aswsome;
        content: "\f1c6";
      }

      &.woocommerce-MyAccount-navigation-link--edit-address a::before {
        font-family: $font-aswsome;
        content: "\f015";
      }

      &.woocommerce-MyAccount-navigation-link--payment-methods a::before {
        font-family: $font-aswsome;
        content: "\f09d";
      }

      &.woocommerce-MyAccount-navigation-link--edit-account a::before {
        font-family: $font-aswsome;
        content: "\f007";
      }

      &.woocommerce-MyAccount-navigation-link--customer-logout a::before {
        font-family: $font-aswsome;
        content: "\f08b";
      }
    }
  }

  .woocommerce-MyAccount-content h2 {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
  }

  p.order-again {
    text-align: right;
  }

  .woocommerce-EditAccountForm input[type="submit"] {
    margin-top: 50px;
    float: right;
  }
}

.iump-register-form,
.ihc-login-form-wrap {
  width: 100%;
  padding: 0;

  form {
    label.iump-labels-register {
      display: block;
      width: 100%;
      text-align: left;
    }

    input {
      width: 100%;
      min-height: 40px;

      &[type=checkbox] {
        width: auto;
      }
    }

    .iump-submit-form,
    .impu-form-submit {
      box-shadow: 0 10px 11px -7px #0060ffc9;
      border-radius: 50px !important;
      padding: 0 !important;
      background-image: linear-gradient(to bottom right, rgb(107, 115, 255), rgb(0, 13, 255));
      max-width: 80%;
      max-height: 43px;
      margin: 30px auto;
      overflow: hidden;

      input {
        background: transparent !important;
        border: none !important;
        color: #fff;
        font-size: 18px;
      }
    }
  }
}

.ihc-login-form-wrap {
  width: 100%;
  margin: 30px auto 0;
}

.ihc-pass-form-wrap {
  width: 100%;
}

.ihc-sm-item.ihc-goo {
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
}

.woocommerce-cart,
.woocommerce-checkout {
  .woocommerce {
    width: 100%;
    margin: 30px auto;

    form.woocommerce-cart-form {
      width: 100%;
      display: inline-block;
    }
  }
}

.single-product {
  #imageGallery {
    li.lslide {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.product-infomation {
  h3 {
    font-size: 20px;
    text-transform: capitalize !important;
    color: rgb(62, 69, 81);
    font-weight: 700;
    margin-top: 48px !important;
  }

  div#tab-description {
    font-size: 15px;
    font-weight: 400;
    color: rgba(90, 94, 101, 0.639);
  }
}

.information-slide {
  .tag-post,
  .slide-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgb(216, 214, 214);
    margin-bottom: 0;

    span {
      font-weight: 400;
    }
  }

  .tag-post {
    ul {
      padding-left: 30px;
      text-align: right;
      margin-bottom: 0;

      li {
        color: $brand-secondary;
        font-weight: 400;

        &::after {
          content: ",";
          padding-left: 1px;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

.related {
  .product_type_simple {
    display: none !important;
  }
  /* stylelint-disable */
  h2 {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(61, 69, 82);
  }
  /* stylelint-enable */
  li.product {
    transition: all 0.4s;

    .woocommerce-loop-product__title {
      width: calc(100% - 20px);
      width: -webkit-calc(100% - 20px);
      bottom: 40px;
      left: 10px;
      padding: 10px;
      opacity: 0;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      transition: all 0.4s;
      margin: 0 !important;
      position: absolute;
      background-color: $brand-white;
      font-size: 16px !important;
      line-height: 22px !important;
      text-transform: capitalize;
      letter-spacing: 0;
      z-index: 99;
    }

    &:hover {
      h2.woocommerce-loop-product__title {
        bottom: 10px;
        opacity: 1;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9;
        transition: all 0.4s;
        height: 180px;
        border-radius: 6px;
      }
    }

    .price {
      display: none !important;
    }

    .woocommerce-LoopProduct-link {
      display: inline-block !important;
      height: 180px;
      position: relative !important;
      width: 100%;
      box-shadow: 0 0 14px 0 rgba(79, 138, 199, 0.14);
      border-radius: 6px;
      background-color: $brand-white;
      border: 1px solid rgba(165, 184, 204, 0.25);
      transition: 1s;
      transition-property: all;
      overflow: hidden;
    }

    img {
      margin: 0 !important;
    }

    .button.product_type_external {
      display: none !important;
    }
  }
}

.authcomment {
  padding: 0 0 20px;

  .avatar {
    border-radius: 100%;
    margin: 0 10px;
  }

  h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.132987px;
    text-transform: capitalize;
    color: $brand-primary;
  }

  time {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.132987px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.4);
  }

  .media-body {
    background: $brand-white;
    box-shadow: 0 2px 4px rgb(213, 237, 250);
    border-radius: 8px;
    padding: 16px 16px 5px 16px;
  }
}

.nav-downloads {
  .list-inline-item {
    font-weight: normal;
    font-size: 14px;
    line-height: 33px;
    letter-spacing: 0.114083px;
    text-transform: capitalize;
    color: rgb(0, 0, 0);

    .nav-link {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.114083px;
      text-transform: capitalize;
      color: rgb(0, 0, 0);
      border: 1px solid rgba(61, 69, 82, 0.22);
      box-sizing: border-box;
      border-radius: 5px;

      &.active {
        background: rgb(30, 109, 251);
        border-radius: 5px;
        color: $brand-white;
      }
    }

    &.show-tabs {
      margin-left: 25px;
    }
  }
}

button#dropdownMenuOffset {
  border: 1px solid rgba(0, 0, 0, 0.22);
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  margin-right: 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.114083px;
  color: $brand-black;
  height: 30px;
}

.short-description {
  .text-description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgb(61, 69, 82);
  }
}

/* stylelint-disable */
.xoo-cp-success {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.116946px;
  color: #3D4552;
  background: transparent;
  font-weight: bold;
}

.xoo-cp-container {
  background: #FFFFFF;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  min-height: 400px;
  padding-top: 100px;
  padding-left: 0;
  padding-right: 0;
}

.xoo-cp-container:after {
  content: "cart";
  position: absolute;
  top: 25px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.132987px;
  text-transform: capitalize;
  color: #282F39;
  left: 30px;
}

.xoo-cp-ptotal {
  position: absolute;
  top: 20px;
  right: 15px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  padding: 10px;
}

.xoo-cp-container:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 93px;
  left: 0;
}

td.xoo-cp-pqty {
  display: none;
}

table.xoo-cp-pdetails {
  background: rgb(239, 246, 250);
  width: 100%;
  display: inline-block !important;
  padding: 15px;
}

td.xoo-cp-pimg {
  width: 100px;

  img {
    border-radius: 5px;
    width: 100px !important;
    height: 100px;
    max-width: 100px !important;
  }
}

span.xoo-cp-icon-check {
  display: none;
}

.added_to_cart.wc-forward {
  display: none;
}

table.xoo-cp-pdetails tr {
  display: flex !important;
  position: relative;
}

td.xoo-cp-pprice span {
  color: $brand-primary;
}

.custom-summary {
  .price {
    display: none;
  }

  .woocommerce-product-details__short-description {
    display: none;
  }
}

a.xoo-cp-btn-ch.xcp-btn {
  background: linear-gradient(168.58deg, #6B73FF -0.5%, #000DFF 100%);
  box-shadow: 0px 8px 11px rgba(0, 123, 255, 0.7);
  border-radius: 20px;
  display: block !important;
  margin: 30px auto;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  padding: 10px;
}

.xcp-btn {
  display: block;
  margin: auto;
}

a.xoo-cp-close.xcp-btn {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.116946px;
  text-transform: capitalize;
  color: #1E6DFB;
  background: transparent;
  border: none;
  margin-bottom: 10px;
}

td.xoo-cp-remove {
  display: none;
}

td.xoo-cp-ptitle a {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.151985px;
  color: #3D4552;
  white-space: nowrap;
  margin-left: 14px;
}

td.xoo-cp-pprice {
  position: absolute;
  left: 120px;
  bottom: -10px;
  margin: 0;
}

.secure-payment {
  margin-top: 27px;

  p {
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.116946px;
    text-transform: capitalize;
    color: #3D4552;
    text-align: right;
  }
}

.bottun-edit {
  border: 1px solid #E8E8E8;
  border-radius: 20px;
}

h3.woocommerce-Reviews-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.132987px;
  color: #3D4552;
  text-transform: lowercase !important;
}

span#reply-title {
  display: none;
}

#respond {
  span#reply-title {
    display: block;
    white-space: nowrap;
    font-size: 0;

    small {
      font-size: 14px;
      margin: 10px;
    }
  }
}


.woocommerce p.stars a {
  height: 29px !important;
  width: 29px !important;
  margin-top: 20px
}

.woocommerce p.stars a::before {
  color: rgba(61, 69, 82, 0.21);
  font-size: 29px;
}

.woocommerce #review_form #respond .form-submit input#submit {
  background-color: $brand-primary;
  font-weight: 300;
  float: right;
}

div#reviews #review_form .avatar {
  border-radius: 100%;
  margin: 30px 0 0 0;
}

div#reviews .avatar {
  border-radius: 100%;
}

div#reviews #respond {
  display: flex;
  align-items: end;
  margin: 30px 0 30px;
}

div#reviews #respond form {
  width: 100%;
  flex: 0 100%;
  margin: 0 0 0 10px !important;
}

.comment-form-rating {
  display: flex;
  align-items: center;
}

.commentlist {
  .avatar-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5% 0 15%;

    .avatar {
      width: 40px;
    }
  }

  #respond {
    input#submit {
      background-color: #12bf5b !important;
      float: right;
      margin-top: -10px !important;
      margin-bottom: 10px !important;
    }
  }
}

.comment-form-rating span.rate-text {
  margin: 10px 0 0 10px;
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.132987px;
  text-transform: capitalize;
  color: #3D4552;
  opacity: 0.4;
}

.lg-comments {
  display: none;
}

.similar-comments {
  display: none;
}

#loadMore,
#loadMoreSimilar {
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  width: 90%;
  text-align: center;
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.132987px;
  text-transform: capitalize;
  color: #1E6DFB;
  margin-left: 10%;
}

#loadMoreSimilar {
  width: 25%;
  margin-left: auto;
  display: block;
}

.related {
  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 123.19%;
    letter-spacing: 0.151985px;
    text-transform: capitalize;
    color: rgb(61, 69, 82);
    text-align: center;
  }
  
  .item-card {
    padding: 15px !important;

    .card {
      h5 {
        min-height: 40px;
      }

      .bg-images {
        height: 198px !important;
        min-height: 198px;
      }
    }
  }
}

section.download-footer {
  background: #EFF6FA;
  box-shadow: 0px -6px 17px rgba(40, 47, 57, 0.13);
  padding: 27px 0 39px;

  .media {
    img {
      width: 64px;
      border-radius: 8px;
      height: 64px;
    }

    h5 {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.151985px;
      color: #3D4552;
    }

    .text-description {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #3D4552;
      opacity: 0.4;
    }
  }
}

.bottom-summary {
  background: linear-gradient(169.89deg, #1ADB72 -0.5%, #10B151 100%);
  box-shadow: 0px 5px 8px rgba(0, 255, 102, 0.59);
  border-radius: 27px;
  width: auto;
  display: inline-block;
  height: 48px;

  a {
    padding: 10px;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.151985px;
    color: $brand-white;
  }
}

.woocommerce-info.somdn-download-error {
  display: none;
}
/* stylelint-enable */
